html {margin-top: 33px;}
.admin-bar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-height: 450px;
    overflow-y: scroll;
	background: #CCCCCC;
	width: 100%;
	border-radius: 8px;
	padding: 6px;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
}
    .admin-bar-tabs {
        list-style: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
        background: rgba(0,0,0,.7);
        box-shadow: inset 0 -3px 8px rgba(0,0,0,.4);
    }
        .admin-bar-tabs li {
            display: inline-block;
            margin: 5px 5px 0;
        }
            .admin-bar-tabs li a {
                padding: 6px;
                background: rgba(0,0,0,.8);
                color: rgba(255,255,255,.8);
                text-decoration: none;
                display: block;
                letter-spacing: 1px;
                font-family: sans-serif;
                font-size: 13px;
            }
            .admin-bar-tabs li a:hover, .admin-bar-tabs li.active a {
                color: rgba(0,0,0,.8);
                background: rgba(255,255,255,.8);
            }
            .admin-bar-tabs-count {
                background: #848383;
                display: inline-block;
                border-radius: 4px;
                width: 15px;
                height: 15px;
                text-align: center;
                margin: 0 5px 0 0;
                color: white;
                font-size: 10px;
                line-height: 16px;
                position: relative;
                top: -2px;
            }
            #admin-bar-tabs-updates-count {
                background: green;
            }
            #admin-bar-tabs-debugs-count {
                background: #909000;
            }
            #admin-bar-tabs-errors-count {
                background: #900000;
            }
            .admin-bar-tabs #admin-bar-close-panel {
                display: none;
            }
    .admin-bar-tab-content {
        margin-top: 40px;
        display: none;
    }